// --- PARTIALS: BREADCRUMB ---

.breadcrumb {
    margin: 16px 0; 
    color: $ml-breadcrumb-link; 
      
    &__link {
        font-size: 14px;
        color: $ml-breadcrumb-link; 
        transition: color 200ms ease;

        &:hover {
            color: $ml-breadcrumb-link-hover;
        }

        &:first-child {
            margin-left: 0;
        }
    }

    span {
        display: inline-flex;
        align-items: center;

        p {
            margin: 0 12px;
        }

        &:last-child p {
            display: none;
        }
    }
}