// --- PARTIALS: GLOBAL

input, h1, h2, h3, h4, h5, h6, p, span, button, a {
    font-family: sans-serif;
}

body {
    background-color: $ml-main;
}

main {
    padding-bottom: 42px;
}

a {
    text-decoration: none;
    color: #000;
}

.loading__spinner {
    margin: 0 auto;
}