// --- PARTIALS: HEADER ---

.header {
    background-color: $ml-yellow;
    height: 56px;
    width: 100%;
    margin-bottom: 24px;

    .row {
        height: 56px;
    }

    &__logo {
        background: url($ml-logo) no-repeat;
        text-indent: -1000px;
        width: 134px;
        height: 34px;
        position: absolute;
        top: 10px;
    }
}