// --- PARTIALS: INPUT

.input {
    width: 100%;
    height: 42px;
    border-radius: 3px;
    box-shadow: none;
    text-shadow: none;
    border: 1px solid $ml-input-border;
    padding: 12px;
    box-sizing: border-box;
    outline: none;

    &::placeholder {
        color: $ml-input-placeholder;
    }
}