// --- VARIABLES: COLORS ---

// Global

$ml-yellow: #ffe600;
$ml-main: #eee;

// Form

$ml-input-border: #ddd;
$ml-input-placeholder: #bbb;
$ml-input-color: #333;

// Product

$ml-text-color: #333;
$ml-text-color2: #666;
$ml-text-color3: #999;

// Button

$ml-button-primary: #3483fa;
$ml-button-primary-hover: #2b6dd1;

// Breadcrumb

$ml-breadcrumb-link: #999;
$ml-breadcrumb-link-hover: #707070;
